/*
  stylesheet created and formatted by Jacob hache: <https://github.com/yeetsup-git>
*/

/*########################
  # GENERAL FORMAT/STYLE #
  ########################*/

code,pre{
  background-color: #0a030f;
  font-family: 'Ubuntu mono', 'Courier new', cousine, monospace;
  color: #dcc3eb;
  border: 1px solid #dcc3eb;
  border-radius: 2px;
  padding: 2px;
}

code{
 padding: 1px;
}

pre code{
	border: none;
	background: none;
	padding 2px;
}

a[href]{
  color: #e17dff;
  transition: ease-out 0.1s;                 
  text-decoration: none;
  }
a[href]:hover{
    color: #e12bff;
    transition: ease-in 0.1s;
    }

body{ 
     background-color:#19051f;
     color: #e1ddff;
     font-family: Montserrat, hevetica neue, sans-serif;
     font-weight: 500;
    }

h1{
 font-weight: 700;
 text-align: left;
 font-family: Poppins, Montserrat, ubuntu, verdana, sans serif; 
 border-bottom: 2px solid #f0dcff;
 padding: 2px;
}

h3{
 font-weight: 700;
 text-align: center;
 font-family: Poppins, Montserrat,  ubuntu, verdana, sans serif;
 padding: 2px;
}

footer{
    margin-top: 600px;
    margin-bottom: 10px
    padding: 5px;
    border-top: 2px solid;
    border-color: inherit;
    text-align: center;
    
    }
img{
  padding: 5px;
  border: 1px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  font-family: Poppins, Montserrat, ubuntu, verdana, sans-serif;
  font-weight: 800;
  text-size: 32px;
  text-align: center;
  transition: ease-out 0.1s;
}

.logo:hover {
  color: #ec64ff;
  text-size: 48px;
  font-weight: 900;
  transition: ease-in 0.1s;
}

video {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: 1px solid white;
  display: block;
}

.highvis {
  padding: none;
  display: block;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #ffb69c;
  background-color: #5e1b00;
  color: #ffb69c;
}

.highviscode {
  padding: none;
  display: block;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #ffb69c;
  background-color: #5e1b00;
  color: #ffb69c;
  font-family: ubuntu mono, courier new, monospace;
}

.bigfaterror{
font-size: 150px;
color: rgba(255, 90, 90, 0.8);
text-align: center;
font-weight: 700;
font-family: ubuntu mono, courier new, monospace;
border: none; 
}

.linkbar {
background-color: #0f0314;
border-radius: 2px;
border: 1px solid #dc92ff;
padding: 5px;  
transition: ease-out 0.1s;
}

.linkbar:hover {
background-color: #06020a;
border: 1px solid #dcc7ff;
transition: ease-in 0.1s;
}

.linkbar a{
  color: #dc92ff;
  transition: ease-out 0.1s;
}

.linkbar a:hover {
  color: #dcc7ff;
  transition: ease-in 0.1s;
}

.OPMESSAGE {
/*Only use OPERATOR MESSAGES for when you really fuk up*/
  padding: none;
  display: block;
  border-radius: 2px;
  border: 1px solid #ffbaba;
  background-color: #210000;
  color: #ffbaba;
  font-family: ubuntu mono, courier new, monospace;
}
