/*
  stylesheet created and "formatted"(aka written like shit) by Jacob hache: <https://github.com/mangolover1899>
*/

/*########################
  # GENERAL FORMAT/STYLE #
  ########################*/

/**LOGO**/
/*I think this shit gonna get its own stylesheet its 
  banner keeps tweaking out when I do fancy shit
  and I want to do fancy shit*/
/* | NOTE: code also too convoluted and stupid to do fancy shit.*/

.logo{
  position: relative;
  text-align: center!important;
  transition: ease-in 0.1s;
  border: 2.0px solid #c98cff;
  background-color: #000314;
  background-image: url(../img/moincraft.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  border-radius: 7px / 5px;
  padding: 5px;
}

.logo .logotext{
  border-bottom: none!important;
  padding: none;
  font-size: 32px;
  color: #c98cff;
  transition: ease-in 0.1s;
  text-align: center;
}

.logo .logotext:hover{
  color: #f1c4ff;
  transition: ease-in 0.1s;
  font-size: 34px;
}

.logo .logotext:active{
  color: #c98cff;
  transition: ease-in 0.1s;
  font-size: 27px;
}

@media only screen and (max-width: 720px) { /*Small tablets*/
.logo .logotext{
  border-bottom: none!important; 
  padding: none;
  font-size: 28px;
  color: #c98cff;
  transition: ease-in 0.1s;
  text-align: center;
}

.logo .logotext:hover{
  color: #f1c4ff;
  transition: ease-in 0.1s;
  font-size: 30px;
}

.logo .logotext:active{
  color: #c98cff;
  transition: ease-in 0.1s;
  font-size: 23px;
}}

@media only screen and (max-width: 640px) { /*large/modern phones*/
.logo .logotext{
  border-bottom: none!important;
  padding: none;
  font-size: 28px;
  color: #c98cff;
  transition: ease-in 0.1s;
  text-align: center;
}
	
.logo .logotext:hover{
  color: #f1c4ff;
  transition: ease-in 0.1s;
  font-size: 32px;
}

.logo .logotext:active{
  color: #c98cff;
  transition: ease-in 0.1s;
  font-size: 23px;
}}
	
.logo:hover{
  border: 3px solid #f1c4ff;
  background-color: #06020a;
  border-radius: 9px / 7px;
  padding: 7px;
  transition: ease-in 0.1s;
}

.logo:active{
  background-color: #000314;
  border: 2.0px solid #c98cff;
  border-radius: 4px / 2px;
  padding: 2px;
  transition: ease-in 0.1s;
}

code,pre{
  background-color: #0f0306;
  font-family: 'Ubuntu Mono', 'Courier new', cousine, monospace;
  color: #dcc3eb;
  overflow-x: auto;
  border: 1px solid #dcc3eb;
  border-radius: 2px;
  padding: 2px;
}

a[href]{
  color: #e17dff;
  transition: ease-out 0.1s;                 
  text-decoration: none;
  font-size: 14px;
  font-family: "Ubuntu", "Montserrat", "Poppins", helvetica neue, sans-serif;
  font-weight: 500;
}
a[href]:hover{
    color: #e12bff;
    font-size: 16px;
    transition: ease-in 0.1s;
}
a[href]:active{
    font-size: 12px;
    transition: ease-in 0.1s;
}


/*My dumbass forgot to paste the linkbar in after cutting it*/
.linkbar {
background-color: #000314;
border-radius: 7px / 5px;
border: 2.0px solid #c98cff;
padding-bottom: none;
padding: 5px;
text-align: center;
transition: ease-out 0.1s;
}

.linkbar:hover {
background-color: #06020a;
border: 3px solid #f1c4ff;
border-radius: 9px / 7px;
padding: 7px;
transition: ease-in 0.1s;
}

.linkbar:hover:active {
border: 2.0px solid #c98cff;
background-color: #000314;
border-radius: 4px / 2px;
transition: ease-in 0.1s;
padding: 2px;
}

.linkbar:active {
border: 2.0px solid #c98cff;
background-color: #000314;
border-radius: 4px / 2px;
transition: ease-in 0.1s;
padding: 2px;
}

.linkbar_div {
padding: 2px;
margin-top: 2px;
}

.linkbar_div:hover{
transition: 0.05s ease-in;
padding: 0px;
margin-top: 2px;
margin-bottom: 2px;
}

.linkbar_div:active{
padding: 4px;
margin-top: 0px;
}

.linkbar_div:hover:active{
padding: 4px;
margin-top: 0px;
}


.linkbar a{
  font-family: "Montserrat", "Ubuntu", "Poppins", "Verdana", sans-serif;
  color: #c98cff;
  transition: ease-in 0.1s;
}

.linkbar a:hover {
  color: #f1c4ff;
  font-size: 18px;
  transition: ease-in 0.1s;
}

.linkbar a:active {
  color: #c98cff;
  font-size: 12px;
  transition: ease-in 0.1s;
}

code{
 padding: 1px;
}

pre code{
	border: none;
	background: none;
	padding 2px;
}


body{ 
     background-color: #4A0F59;
     background-size: 2em;
     background: 
     linear-gradient(180deg,rgba(74, 15, 89, 1) 0%, rgba(130, 31, 135, 1) 30%, rgba(189, 43, 143, 1) 70%, rgba(214, 39, 132, 1) 100%);
     color: #c98cff;
     font-family: "Montserrat", "Poppins", "Ubuntu", "hevetica neue", sans-serif;
     font-weight: 500;
     font-size: 14px;
    }

h1{
 font-weight: 800;
 text-align: left;
 font-family: "Poppins", "Montserrat", "Ubuntu", serif; 
 border-bottom: 2px solid #f0dcff;
 padding: 2px;
}

h3{
 font-weight: 700;
 text-align: center;
 font-family: "Poppins", "Montserrat", "Ubuntu", serif;
 padding: 2px;
}

footer{
    margin-top: 350px;
    margin-bottom: 10px;
    padding: 5px;
    border-top: 2px solid;
    border-color: inherit;
    text-align: center;
    
    }

/*Image window*/

img{
  border: 2.0px solid #c98cff;
  border-radius: 7px / 5px;
  width: auto;
  height: auto;
  max-width: 75%;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: ease-in 0.1s;
}

img:hover{
  transform: scale(1.05);
  border: 3px solid #f1c4ff;
  border-radius: 9px / 7px;
  transition: ease-in 0.05s;
}

img:active{
   transform: scale(0.90);
   border: 2.0px solid #c98cff;
   border-radius: 4px / 2px;
   transition: ease-in 0.05s;

}

img:hover:active{
   transform: scale(0.90);
   border: 2.0px solid #c98cff;
   border-radius: 4px / 2px;
   transition: ease-in 0.05s;

}

video {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: 1px solid white;
  display: block;
}

/*Jekylls shitass posts*/
.posts
{
  background-color: #0a000f;
  background: radial-gradient(circle,rgba(0, 3, 15, 1) 0%, rgba(9, 6, 56, 1) 40%, rgba(34, 18, 94, 1) 76%, rgba(82, 39, 150, 1) 100%);
  backdrop-filter: blur(2px);
	color: #bcc3eb;
	border: 2px solid #bcc3eb;
	border-radius: 7px/5px;
	padding: 2px;
  padding-top: 10px;
}
.snippet{
  background: 
  radial-gradient(circle,
                  rgba(0, 31, 13, 1) 0%, 
                  rgba(2, 43, 20, 0.8) 40%, 
                  rgba(10, 64, 29, 0.5) 76%, 
                  rgba(25, 94, 52, 0.2) 100%);
  backdrop-filter: blur(0.5px);
	background-color: #001f0d;
	color: #edfff5;
	margin: 5px;
  margin-top: -2px;
  margin-bottom: 5px;
	border: 2px solid #edfff5;
	border-radius: 5px / 7px;
  
}
.snippet .title
{
  backdrop-filter: blur(6.7px); /*six seveeennnn 🤪🤪🤪*/
  background-color: rgba(25, 94, 52, 0.5);
	color: #edfff5;
	font-size: 24px;
	font-weight: 700;
	padding: 5px;
  margin-top: -16px;
  margin-left: -2px;
  margin-right: -2px;
  border-radius: 5px / 7px;
	border: 2px solid #edfff5;
}

.title a{
	color: #edfff5;
        font-size: 24px;
        font-weight: 700;
}

.snippet .body
{
	padding: 5px;
}
.snippet .body h1, h2, h3, h4, h5{
	text-align: left;
}

/*fontrs*/

/*rdr font*/
@font-face {
  font-family: redDeadFont;
  src: url(/fonts/chineseRocksRegular.ttf);
}

.rdrtext
{
	color: #FFFFFF;
	font-size: 18px;
	font-family: redDeadFont;
}
.rdrtextred
{
	color: #DD0000;
        font-size: 20px;
        font-family: redDeadFont;
}

/**/

/*Error page-specific elements*/

/*i watched janr die error pane*/

.watched_janr_die {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -2px;
  background-image: url("../img/i_watched_janr_die.jpg");
  background-size: 100% 100%;
  background-repeat: none;
  background-position: center bottom;
  padding: none;
  padding-top: 50px;
  display: block;
  text-align: left;
  border-radius: 7px / 5px;
  border: 2px solid #ffb69c;
  background-color: #5e1b00;
  color: #aa3b00;
}

.watched_janr_die h1{
	border-bottom: none;
}

.watched_janr_die p{
	padding-left: 12.5px;
	padding-bottom: 25px;
	font-size: 26px;
	font-family: ubuntu mono, courier new, monospace;
}

/*"not found" error message + quote overlay*/

.not_found_error{
margin-top: -2px;
margin-bottom: -2px;
margin-left: -2px;
background-color: rgba(142, 49, 0, 0.2);
backdrop-filter: blur(8.5px);
padding-bottom: 5px;
height: 75px;
width: 100%;
text-align: center;
border-radius: 7px / 5px;
color: #ffb69c;
border-collapse: collapse;
border: 2px solid #ffb69c;
font-family: ubuntu mono, courier new, monospace;
}
.not_found_error p{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 1px;
	font-size: 15px;
}


/*Deprecated/unused, idk why i even left this here*/
/*
.highviscode {
  padding: none;
  display: block;
  text-align: center;
  border-radius: 2px;
  border: 2.2px solid #ffb69c;
  background-color: #5e1b00;
  color: #ffb69c;
  font-family: ubuntu mono, courier new, monospace;
}

.bigfaterror{
font-size: 150px;
color: rgba(255, 90, 90, 0.8);
text-align: center;
font-weight: 700;
font-family: ubuntu mono, courier new, monospace;
border: none; 
}
*/

